.contactSection {  }
.contactSection .container {  }
.contactSection .content { padding: 4rem 0; }
.contactSection .content h2 { display: block; width: 50%; font-size: 2.5rem; font-weight: 400; line-height: 1.2; font-family: 'RobotoSerif', sans-serif; margin-bottom: 1.5rem; }
.contactSection .content .description { display: block; width: 50%; font-size: 1.25rem; font-weight: 400; line-height: 1.4; margin-bottom: 0; }
.contactSection .content .form { --column-gap: 5rem; display: flex; flex-direction: row; flex-wrap: wrap; align-content: flex-start; justify-content: space-between; align-items: flex-start; gap: var(--column-gap);  padding-top: 5rem; }
.contactSection .content .form form { flex: 1 0 calc(50% - (var(--column-gap) / 2)); display: flex; flex-direction: column; flex-wrap: nowrap; justify-content: flex-start; align-items: stretch; gap: 1.5rem; }
.contactSection .content .form form .formGroup { flex: 1 0 100%; }
.contactSection .content .form form .formGroup label { font-size: 1rem; font-weight: 400; line-height: 1.4; margin-bottom: 0.75rem; display: block; width: 100%; }
.contactSection .content .form form .formGroup :is(input, textarea) { display: block; width: 100%; border: 0; color: var(--text); background: var(--light-gray); padding: 0.75rem; font-size: 1rem; line-height: 1.2; font-weight: 400; }
.contactSection .content .form form .formGroup :is(input, textarea)::placeholder { color: var(--gray); }
.contactSection .content .form form .formGroup button {  }

.contactSection .content .form .map { flex: 1 0 calc(50% - (var(--column-gap) / 2)); }
.contactSection .content .form .map .info { display: flex; flex-direction: row; flex-wrap: nowrap; align-content: flex-start; justify-content: space-between; align-items: stretch; }
.contactSection .content .form .map .info .infoItem { flex: 1 0 50%; }
.contactSection .content .form .map .info .infoItem:last-child { text-align: end; }
.contactSection .content .form .map .info .infoItem p { font-size: 1rem; font-weight: 400; line-height: 1.2; margin-bottom: 0.75rem; color: var(--text); }
.contactSection .content .form .map .info .infoItem p a { color: inherit; text-decoration: none; }
.contactSection .content .form .map .info .infoItem p .icon { display: inline-block; width: 1rem; height: 1rem; margin-right: 0.5rem; vertical-align: middle; }
.contactSection .content .form .map iframe { width: 100%; }

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .contactSection .content :is(h2, .description) { width: 100%; }
    .contactSection .content .form form { flex: 1 0 100%; }
    .contactSection .content .form .map { flex: 1 0 100%; }
}
