.heroSection { position: relative; width: 100%; min-height: 80vh; }
.heroSection .container { width: 100%; }
.heroSection .content {  }

.heroSection .carousel { position: relative; height: 100%; width: 100%; }
.heroSection .carousel .carousel-indicators { gap: 0.5rem; margin-bottom: 1.5rem; }
.heroSection .carousel .carousel-indicators button { width: 1.75rem; height: 0.4rem; border-radius: 0.2rem; border: 0; }
.heroSection .carousel .carousel-inner { position: relative; height: 100%; width: 100%; }
.heroSection .carousel .carousel-inner .carousel-item { height: 100%; width: 100%; }
.heroSection .carousel .carousel-inner .carousel-item img { display: block; height: 100%; width: 100%; object-fit: cover; }
