.navbar { position: sticky; top: 0; z-index: 20; border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
.navbar .container { position: relative; }
.navbar .content { position: relative; display: flex;  }

.navbar .content .logo { flex: 0 1 auto; width: auto; }
.navbar .content .logo img { width: 100%; height: 3.25rem; object-fit: contain; }

.navbar .content .links { flex: 1 0 auto; width: 100%; }
.navbar .content .links ul { display: flex;  }
.navbar .content .links ul li { flex: 0 1 auto; width: auto; }
.navbar .content .links ul li.active { border-bottom: 1px solid var(--light-text); }
.navbar .content .links ul li a { color: var(--light-text); text-decoration: none; }
