.navbar { position: sticky; top: 0; z-index: 20; border-bottom: 1px solid rgba(255, 255, 255, 0.2); padding: 0; background: transparent; transition: 0.5s; }
.navbar.scrolled { background: var(--dark-blue); }
.navbar .container { position: relative; display: block; }
.navbar .content { position: relative; padding: 1.25rem 0; display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between; align-items: stretch; }

.navbar .content .logo { flex: 0 1 auto; width: auto; z-index: 11; }
.navbar .content .logo a { display: inline-block; width: 100%; height: 100%; }
.navbar .content .logo img { width: auto; height: 3.25rem; object-fit: contain; }

.navbar .content .links { flex: 1 0 auto; width: auto; }
.navbar .content .links ul { height: 100%; display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-end; align-items: center; gap: 1.5rem; list-style: none; padding: 0; margin: 0; }
.navbar .content .links ul li { flex: 0 1 auto; width: auto; }
.navbar .content .links ul li.active { border-bottom: 1px solid var(--light-text); }
.navbar .content .links ul li a { display: inline-block; font-size: 1rem; font-weight: 400; line-height: 1; color: var(--light-text); text-decoration: none; padding: 0.75rem 1rem; }

.navbar .content .toggler { flex: 0 1 auto; width: auto; display: none; z-index: 11; }
.navbar .content .toggler button { display: inline-block; background: transparent; border: none; padding: 0; margin: 0; line-height: 1; outline: none; }
.navbar .content .toggler button span { display: block; width: 2rem; height: .2rem; background: var(--light-text); border-radius: .2rem; margin: .25rem 0; transition: 0.5s; }

/* `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {}

/* `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .navbar.open { background: var(--dark-blue); margin-top: calc(var(--contact-bar-height) * -1); }
    .navbar.scrolled.open { margin-top: 0; }
    .navbar .content .toggler { display: block; }
    .navbar.open .content .toggler button span:first-child { transform: rotate(45deg) translateY(0.5rem); }
    .navbar.open .content .toggler button span:nth-child(2) { opacity: 0; }
    .navbar.open .content .toggler button span:last-child { transform: rotate(-45deg) translateY(-0.5rem); }
    .navbar.open .content .links { transform: translateY(0); opacity: 1; }
    .navbar .content .links { position: fixed; top: var(--navbar-height); right: 0; bottom: 0; left: 0; width: 100%; height: 100%; background: var(--dark-blue); z-index: 10; transform: translateY(-100%); opacity: 0; transition: 0.5s; padding-top: 2.5rem; }
    .navbar .content .links ul { flex-direction: column; justify-content: flex-start; }
}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {}

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {}
