.aboutSection { position: relative; background: var(--white); }
.aboutSection .container {  }
.aboutSection .container .content { position: relative; z-index: 3; padding: 5rem 0; display: flex;  gap: 4.5rem; }

.aboutSection .container .content .text { flex: 1 0 calc(70% - 2.25rem); }
.aboutSection .container .content .text h2 { font-family: 'RobotoSerif', sans-serif; font-size: 2.5rem; font-weight: 400; color: var(--text); line-height: 1.2; margin-bottom: 0; }
.aboutSection .container .content .text p { font-size: 1.25rem; line-height: 1.4; font-weight: 400; color: var(--text); margin-bottom: 0; }
.aboutSection .container .content .text .btn {  }

.aboutSection .container .content .image { flex: 1 0 calc(30% - 2.25rem); }
.aboutSection .container .content .image img { display: block; width: 100%; height: 100%; object-fit: cover; padding-bottom: 3rem; }

.aboutSection .square { position: absolute; bottom: 5rem; right: 0; z-index: 2; background: var(--dark-blue); }
