.btn {  }
.btnType1 { background: var(--blue); color: var(--white); line-height: 1.4; font-weight: 400; font-size: 1rem; padding: 0.5rem 1rem; border-radius: 0rem; outline: none; display: inline-block; }
