:root {
    --white: #FFFFFF;
    --white-filter: invert(1);
    --dark-blue: #102337;


    --light-text: var(--white);
    --light-icon: var(--white-filter);
}
body {
    font-family: "Montserrat", sans-serif;
}

img { -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -o-user-select: none; user-select: none; }
